.app { display: flex; flex-direction: column; margin-right: 0; transition: margin-right 0.5s ease; }
.app.open { margin-right: clamp(20rem, 22vw, 26rem); }
.item { height: 20px; background-color: rgb(30, 30, 30); }
