@keyframes spin { from { background-color: rgb(0, 0, 0); } to { background-color: rgb(250, 125, 25); } }
.rec { width: 20px; height: 20px; animation: spin 20s linear infinite; animation-play-state: paused; }
.rec.run { animation-play-state: running; }
