.btn { width: 80px; height: 24px; background-color: transparent; border: 2px solid rgb(58, 65, 79); color: rgb(237, 240, 245); transition: all 0.3s ease; }
.btn.h { background-color: rgb(237, 240, 245); border-color: rgb(237, 240, 245); color: rgb(16, 18, 22); }
.label { height: 10px; }
