.bar { width: 0; height: 4px; background-color: rgb(0, 0, 0); }
.bar.on { width: 100px; }
.s0 { transition: width 1s steps(4, jump-start); }
.s1 { transition: width 1s steps(4, jump-end); }
.s2 { transition: width 1s steps(4, jump-none); }
.s3 { transition: width 1s steps(4, jump-both); }
.s4 { transition: width 1s step-start; }
.s5 { transition: width 1s step-end; }
.s6 { transition: width 1s steps(4, jump-start) -0.25s; }
