.btn { height: 16px; margin-right: 2px; background-color: #ccc; }
.s { width: 20px; }
.m { width: 40px; }
.l { width: 60px; height: 24px; }
.primary { background-color: #06c; color: #fff; }
.spaced { margin-left: 4px; }
