.frame { width: 100px; padding: 2px; background-color: #eee; }
.head, .foot { height: 4px; background-color: #999; }
.foot:nth-child(3) { width: 30px; }
.foot:nth-child(4) { width: 40px; }
.foot:nth-child(5) { width: 50px; }
.head:has(+ * + .foot) { background-color: #f00; }
.frame:has(> :nth-child(5)) { padding: 6px; }
.head + * ~ .foot { height: 8px; }
